.darkerGreen {
    background: #A1EF7A;
}

.navbar {
    padding-bottom: 0;
}

.navbar-brand {
    margin-left: 2%;
}

.navbar-toggler {
    margin-right: 2%;
    font-size: 1.75rem;
    margin-bottom: 1%;
}

.logo {
    height: 3rem;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.padLeft{
    margin-left: auto!important;
}

.nav-itempad {
    padding-left: 2%;
}

.navbar-nav {
    padding-right: 2%;
}

nav ul {
    background: #D0F4BA;
}