/* NavBar */
.darkerGreen {
    background: #A1EF7A;
}

.navbar {
    padding-bottom: 0;
}

.navbar-brand {
    margin-left: 2%;
}

.navbar-toggler {
    margin-right: 2%;
    font-size: 1.75rem;
    margin-bottom: 1%;
}

.logo {
    height: 3rem;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.padLeft{
    margin-left: auto!important;
}

.nav-itempad {
    padding-left: 2%;
}

.navbar-nav {
    padding-right: 2%;
}

nav ul {
    background: #D0F4BA;
}

/* General text */


/* aboutUs */
.au-logo {
    text-align: center;
}

.au-logo img {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
}

.italic {
    font-style: italic;
}

/* carsNearby*/
.addressSearch {
    background-color: #D0F4BA;
    border: none;
}

/* For wide screens  */
@media (min-width:992px) {
    nav ul {
        background: #A1EF7A;
    }
}