/* Written by Emilia Victoria Helsted */

:root{
    --primary-color: #A1EF7A;
    --secondary-color: #D0F4BA;
    --contrast-color: #78C6F7;
}

/* NavBar */
.darkerGreen {
    background: var(--primary-color);
}

.navbar {
    padding-bottom: 0;
}

.navbar-brand {
    margin-left: 2%;
}

.navbar-toggler {
    margin-right: 2%;
    font-size: 1.75rem;
    margin-bottom: 1%;
}

.logo {
    height: 3rem;
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.padLeft{
    margin-left: auto!important;
}

.nav-itempad {
    padding-left: 2%;
}

.navbar-nav {
    padding-right: 2%;
}

nav ul {
    background: var(--secondary-color);
}

/* General text */
.title {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.bold {
    font-weight: bold;
}

p, h2, h3, h4, h5, ol {
    margin-left: 5%;
    margin-right: 5%;
}

/* General button */
.blueButton {
    background-color: var(--contrast-color);
    border: none;
}

.blueButton:hover {
    background-color: #96cef1;
}

.center {
    text-align: center;
}

/* Invisible */
.invisible {
    padding: 0;
    height: 0;
}

/* frontpage */
.logoFrontpage {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
}
#join {
    display: block;
    margin: 10% auto;
}

#login {
    display: block;
    margin: 1% auto auto;
}

#greenLine {
    background-color: var(--secondary-color);
    position: absolute;
    height: 200%;
    width: 45%;
    left: 30%;
    top: -200px;
    transform: rotate(10deg);
    z-index: -1;

}

/* aboutUs */
.au-logo {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
}

.italic {
    font-style: italic;
}

/* carsNearby*/
.addressSearch {
    background-color: var(--secondary-color);
    border: none;
    margin-bottom: 3%;
}

/* carsNearby*/
.back {
    /* Fix position */
}

.back button{
    background-color: transparent;
    border: none;
}
.back img {
    width: 5%;
}

.btnCN {
    margin: 3%;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}
.background {
    position: relative;
    top: 0;
    left: 0;
}
.marker {
    position: absolute;
    max-width: 50px;
    height: auto;
}
.image1 {
    top: 50px;
    left: 50px;
}
.image2 {
    top: 500px;
    left: 500px;
}
.image3 {
    top: 500px;
    left: 200px;
}
.image4 {
    top: 300px;
    left: 650px;
}
.image5 {
    top: 100px;
    left: 300px;
}

/* carInfo */
.footer {
    width: 100%;
    background-color: var(--secondary-color);
}
.row {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
    text-align: left;
}

#confirm {
    margin-top: 4%
}

/* rental */
.timer {
    text-align: center;
}

#useCarButton, #returnCarButton {
    display: block;
    margin: 5% auto auto;
}

/* receipt */
.total {
    background-color: var(--secondary-color);
    text-align: center;
}

.btnr {
    margin-bottom: 2%;
}

/* For wide screens */
@media (min-width:992px) {
    nav ul {
        background: var(--primary-color);
    }

    #join, #login, #useCarButton, #returnCarButton {
        display: inline;
        margin: auto;
    }
}